#rectangulo
{
    position: absolute;
    margin: auto;
    padding: 20px;
    background-color: wheat;
    top: 250px;
    left: 250px;
    border: 2px solid purple;
    border-radius: 20px;
}
#body
{
    color: coral;
}